.bg-green {
    background-color: #39e273;
}

.bg-yellow {
    background-color: #ebca15;
}

.bg-red {
    background-color: #d73c3c;
}

.bg-blue {
    background-color: #449fd5;
}

.bg-green-light {
    background-color: #27cd9b;
}

.bg-orange {
    background-color: #da7525;
}

.bg-purple {
    background-color: #944ab0;
}

.bg-blue-dark {
    background-color: #3493bd;
}