@font-face {
    font-family: "Mali-Bold";
    src: url("../fonts/Mali-Bold.woff ") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Mali-Regilar";
    src: url("../fonts/Mali-Regular.woff ") format("woff");
    font-weight: 400;
    font-style: normal;
}