body {
    font-size: 16px;
    font-family: 'Mali-Regular', cursive;
    -webkit-font-smoothing: antialiased;
}

section {
    padding: 80px 0;
}

section:nth-of-type(odd) {
    background-color: #f1f1f1;
}

h3 {
    font-size: 40px;
    font-family: 'Mali-Bold', cursive;
    text-transform: uppercase;
}